<!--
Copyright 2013-2018 Tom Forbes
Copyright 2022 Daniel Harding
Distributed as part of the djdt-template-timings project under the terms of the MIT
license.
-->

<table>
    <thead>
        <tr>
            <th colspan="2"></th>
            <th colspan="4">Cumulative Time</th>
            <th colspan="4">Template Time</th>
            <th colspan="2">Queries</th>
        </tr>
        <tr>
            <th>Template Name</th>
            <th>Count</th>
            <th>Total</th>
            <th>Average</th>
            <th>Minimum</th>
            <th>Maximum</th>
            <th>Total</th>
            <th>Average</th>
            <th>Minimum</th>
            <th>Maximum</th>
            <th>Count</th>
            <th>Duration</th>
        </tr>
    <thead>
    <tbody>
        {% for entry in template_entries %}
        <tr class="{% cycle 'djDebugOdd' 'djDebugEven' %}">
            <td>{{ entry.name }}</td>
            <td>{{ entry.count }}</td>
            <td>{{ entry.cumulative_duration|floatformat }} ms</td>
            <td>{{ entry.cumulative_average|floatformat }} ms</td>
            <td>{{ entry.cumulative_minimum|floatformat }} ms</td>
            <td>{{ entry.cumulative_maximum|floatformat }} ms</td>
            <td>{{ entry.duration|floatformat }} ms</td>
            <td>{{ entry.average|floatformat }} ms</td>
            <td>{{ entry.minimum|floatformat }} ms</td>
            <td>{{ entry.maximum|floatformat }} ms</td>
            {% if recording_sql %}
            <td>{{ entry.query_count }}</td>
            <td>{{ entry.query_duration|floatformat }} ms{% if entry.query_count %} ({{ entry.query_percentage|floatformat }}%){% endif %}</td>
            {% else %}
            <td>N/A</td>
            <td>N/A</td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
